@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
 }
 body{
     display: flex;
     min-height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(homepics/gwen-weustink-I3C1sSXj1i8-unsplash.jpg);
     background-size: cover;
     background-position:center;
 }
 /*navgation bar*/

.navbar{
    width: 85%;
    margin: 5px;
    height: 100px;
    position: absolute;
    top: 36px;
    padding: 35px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    left:14%;
    font-size: 16.5px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #117200;
    position: absolute;
    left: 0;
    bottom: -5px;

}
.navbar ul li:hover::after{
    width: 100%;

} 
.col{
    width: 100%;
    position: absolute;
    top: 30%;
    right: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.col h1{
    font-size: 100px;
    margin-top: 80px;
    padding-left: 25px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 7px;
    color: #fff;
    right: 100px;
    position: absolute;

}
.col p{
    margin: 10px auto;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
    padding-left: 200px;
    position: absolute;
    text-align: center;

}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif; 
   color: #fff;
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    left: 100px;
    color: #fff; 
}

.btn2{
    

/* CSS */

  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  left: 100px;
  margin: 5px;
}

.btn2:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn2:hover {
  background-color: #2c974b;
}

.btn2:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.btn2:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn2:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}



