@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
 }
 body{
     display: flex;
     min-height: 100vh;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(hotelpageim/monkeyhome.jpg);
     background-size: cover;
     background-position:center;
 }
 /*navgation bar*/

.navbar{
    width: 85%;
    margin: 5px;
    height: 100px;
    position: absolute;
    top: 36px;
    padding: 35px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    left:14%;
    font-size: 16.5px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #117200;
    position: absolute;
    left: 0;
    bottom: -5px;

}
.navbar ul li:hover::after{
    width: 100%;

} 
.col{
    width: 100%;
    position: absolute;
    top: 30%;
    right: 30%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.col h1{
    font-size: 100px;
    margin-top: 80px;
    padding-left: 25px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 7px;

}
.col p{
    margin: 10px auto;
    font-weight: 500;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
    padding-left: 50px;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif; 
}
body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    left: 100px;
    
}
.wrapper{
    position: absolute;
    width: 750px;
    left: 50%;
    background: url(pics/jacob-plumb-UghHZmnJw58-unsplash.jpg);
    background-position: top-left;
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
    box-shadow: 0 0 10px #006602;
}

.wrapper .h1{
    text-align: center;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
.input-box .input-field{
    position: relative;
    width: 48%;
    height: 50px;
    margin: 13px 0;

}
.input-box .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 0px 0px 0px 15px;
}
.input-box .input-field input::placeholder{
    color: #fff;
}

.wrapper label{
    display: inline-block;
    font-size: 14.5px;
    margin: 10px 0 ;


}

.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
    padding: 15px 15px 15px 15px;

}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 1000;

    

}